<nav>
  <div class='left'>
    <ul>
      <li>Home</li>
      <li>Login/Signup</li>
    </ul>
  </div>

  <div class='right'>
    <ul>
      <li>Home</li>
      <li>Login/Signup</li>
    </ul>
  </div>
</nav>
  <div class="clear"></div>
{{outlet}}
