<div class="col-md-4"></div>
<div class="col-md-4">
  <table class="table table-responsive">
    <thead>
      <td>Name</td>
      <td>Action</td>
    </thead>
    <tbody>
      {{#each model as |gamer|}}
      <tr>
        <td>{{gamer.creator}} 's game</td>
        <td><a href="game/{{gamer.gameId}}">Start</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
